.rememberPass{
    margin-top: 80px;
    width: 40%;
    height: 550px;
    display: flex;
    padding: 60px 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    h2{
        color: #f9004d;
        font-size: 2.4rem;
        font-weight: bold;
    }
}
.input{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px 0;
    label{
        font-weight: 500;
        font-size: 1.6rem;
        cursor: pointer;
    }

    input{
        padding: 4px 12px;
        border: 1px solid transparent;
        outline: none;
        border-bottom: 2px solid #ccc ;

        &:focus{
            border-bottom: 2px solid #f9004d ;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: .4s;
            transform: scale(1.05);
        }
    }
}

.changeBtn{
    outline: none;
    padding: 6px 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f9004d;
    margin: 20px 0;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    &:hover{
        transition: .4s;
        transform: scale(1.05);
    }
}
